
.app-main-block{
   background-image: url('https://img.freepik.com/free-vector/digital-grid-technology-background-purple-tone_53876-117505.jpg?w=2000');
   background-repeat: no-repeat;
   background-size: 100%;
}